<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This app is made by {{ name }}.</p>
      <p>It uses data from <a target="_blank" href="https://mapbox.com">mapbox</a> and <a target="_blank" href="https://darksky.net">Darksky</a></p>
      <img class="portrait" src="/img/profile.jpg" alt="">
    </div>
    {{>footer}}
  </body>
</html>