<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head> 
  <body>
    <div class="main-content">
      {{>header}}
      <p>Use this site to get your weather!<p/>
      <form action="submit">
        <input type="text" name="location" placeholder="Toronto">
        <button>Search</button>
      </form>
    </div>
    {{>footer}}
  </body>
  <script src="/js/app.js" async defer></script>
</html>